.wc-gallery-sync {
  position: relative;
}

.flex-control-thumb {
  cursor: pointer;
  @include opacity(1);
  @include transition();

  &:hover,
  &.flex-active-slide {
    @include opacity(0.7);
    position: relative;

    &:after {
      content: '';
      border-bottom: 2px solid $primary_color;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      //box-shadow: 0px 2px 0px 0.5px $primary_color;
      top: 0;
    }
  }
}