.ef5-owl-dots{
	// Thumbanail 
	&.thumbnail{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 5px -5px -5px;
		.ef5-owl-dot{
			flex: 0 0 auto;
		    width: auto;
		    max-width: 100%;
		    padding: 5px;
		    cursor: pointer;
		    @include transition();
		    @include opacity(0.8);
		    &:hover,
		    &.active{
		    	@include opacity(1);
		    }
		}
	}
}