.elementor-widget-rovoko_product_grid {
  .rovoko-product-wrapper {
    .ef5-filters {
      margin-bottom: 30px;
      border-bottom: $MainBorder;
      width: 100%;

      .filters, .view-all {
        margin-bottom: 12px;
        font-size: $BodyFontSize;
        font-family: Rubik;
        line-height: 1.7;
      }

      .filters {
        display: inherit;
        flex-wrap: inherit;
        align-items: baseline;

        .filter-item {
          margin: 0 11px;
          color: #a6a6a6;
          @include transition();
          cursor: pointer;

          &.active, &:hover {
            font-size: 20px;
            line-height: 1.3;
            color: #191919;
          }

          &:first-child {
            margin-left: 0;
          }

          [dir="rtl"] & {
            &:first-child {
              margin-left: 11px;
              margin-right: 0;
            }
          }
        }
      }

      .view-all {
        a {
          color: #6e6e6e;
          border-bottom: 1px solid;

          &:hover {
            color: $primary_color;
          }
        }
      }
    }

    .products > .product {
      background-color: transparent;
    }

    @media (max-width: $screen-md-max) {
      .view-all-btn {
        margin-top: 60px;
      }
    }
  }
}