.ef5-single-nav{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	border-top: 1px solid #dedede;
	padding-top: 44px;
	margin-top: 50px;
	.icon{
		font-family: $FontEF5Frame;
		padding: 0 20px;
	}
}
.ef5-prev-post{
	.icon:before{
		content: "\f10e";
		[dir="rtl"] &{
			content: "\f111";
		}
	}
}
.ef5-next-post{
	.icon:before{
		content: "\f111";
		[dir="rtl"] &{
			content: "\f10e";
		}
	}
}