@import 'default';
@import 'avatar';
@import 'blog';
@import 'loop';
@import 'featured';
@import 'post_format';
@import 'galleries';
@import 'meta';
@import 'single';
@import 'author_bio';
@import 'related';
@import '404';
@import 'tags';
@import 'items';
@import 'sermons';
@import 'single_navigation';
@import 'project';

.st-logo{
	display: none;
	visibility: hidden;
	opacity: 0;
}