.header-ontop {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 901;
  @media (min-width: 1200px){
    top: $header_ontop_top_space;  
  }
  /*Header top*/
  .ef5-header-top {
    .topbar {
      background: transparent !important;
      &.topbar-layout-2 {
        .header-inner {
          padding: 0;
        }
        .topbar-content:after{
          content: none;
        }
        .social-items{
          @media (max-width: 991px){
            display: none !important;
          }
        }
      }

      &.topbar-layout-1 {
        .action-button {
          position: unset;
          .button{
            @media (min-width: 1200px){
              margin-right: -50px;
            }
          }
        }
      }
    }
    .container{
      @media (min-width: 1200px){
        max-width: 1170px;
        padding-left: 50px;
        padding-right: 50px;
      }
      @media (max-width: 1199px){
        max-width: 100%;
      }
    }

  }
  .main-header .container{
    @media (min-width: 1200px){
      max-width: 1170px;
      padding-left: 50px;
      padding-right: 50px;
    }
    @media (max-width: 1199px){
      max-width: 100%;
    }
  }

  .nav-extra,
  .btn-nav-mobile-wrap[class*="separator"] {
    &:before {
      background: rgba($ontop_regular, 0.25) !important;
    }
  }

  .social-menu-items {
    .custom-text {

      a {
        color: $ontop_regular;

        &:hover {
          color: $ontop_hover;
        }
      }
    }
  }

  .nav-extra {
    a {
      &.ef5-header-search-icon {
        span:before {
          color: $ontop_regular;
        }

        &:hover {
          span:before {
            color: $ontop_hover;
          }
        }
      }
    }

    .header-icon,
    .nav-link {
      color: $ontop_regular;

      &.ef5-header-cart-icon {
        .header-cart-subtotal {
          color: $ontop_regular;
        }

        &:hover {
          .header-cart-subtotal {
            color: $ontop_hover;
          }
        }
      }

      .icon, .fal {
        &:before {
          color: $ontop_regular;
        }
      }

      &:hover {
        .icon {
          &:before {
            color: $ontop_hover;
          }
        }

        .icon, .fal {
          &:before {
            color: $ontop_hover;
          }
        }
      }
    }

    .btn-nav-mobile {
      color: $ontop_regular;

      &:before,
      &:after,
      span {
        background-color: $ontop_regular;
      }

      &:hover {
        color: $ontop_hover;

        &:before,
        &:after,
        span {
          background-color: $ontop_hover;
        }
      }
    }
  }
}