.header-icon {
  position: relative;

  .header-count {
    position: absolute;
    bottom: 0px;
    left: 50%;
    min-width: 15px;
    height: 15px;
    line-height: 1.5;
    font-size: 10px;
    font-weight: 500;
    padding: 0;
    color: $white;
    background: $primary_color;
    @include border-radius(50%);
    @include transform(translate(-50%, 50%));
    //white-space: nowrap;

    &.wooscp-menu-item-inner {
      position: absolute;

      &:after {
        position: unset;
        background-color: inherit;
      }
    }
  }

  .btn-nav-mobile {
    &:before, &:after, span {
      background: $header_regular;
    }

    &:hover {
      &:before, &:after, span {
        background: $header_hover;
      }
    }
  }
}

.ef5-cart-toggle {
  .ef5-cartform {
    background: #fff;
    width: 260px;
    display: none;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 50px;
  }

  .widget_shopping_cart {
    margin: 0;
    padding: 15px;

    p {
      margin-bottom: 0;
    }
  }
}

.nav-extra {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  > * {
    margin: 0 10px;
  }

  @media (max-width: $screen-xs-max) {
    > * {
      margin: 0 2px;
    }
  }

  .ef5-header-search-icon {
    min-width: 40px;
    min-height: 40px;
    @include border-radius( 50% );
    text-align: center;
    position: relative;

    span:before {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));
      font-size: $BodyFontSizeM;
      color: $header_regular;
    }

    &:hover {
      span:before {
        color: $header_hover;
      }
    }
  }

  .header-icon {
    text-align: center;
    font-size: $BodyFontSizeM;
    line-height: $BodyFontSizeM;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    position: relative;
    @media (max-width: $screen-sm-max) {
      margin: 0 8px;
    }

    .icon, .fal {
      display: block;
      position: relative;

      &:before {
        font-size:  $BodyFontSize * 2 ;
        color: $header_regular;
      }
    }

    &.ef5-header-cart-icon {
      .header-cart-subtotal {
        font-size: $BodyFontSize;
        letter-spacing: -0.45px;
        font-weight: 500;
        color: $header_regular;
        margin-left: 12px;
        padding-left: 15px;
        position: relative;
        vertical-align: super;

        &:before {
          content: '';
          border-left: 1px solid;
          border-color: #4c4c4c;
          position: absolute;
          min-height: 26px;
          left: 0;
          margin-top: 2px;
        }
      }

      &:hover {
        .header-cart-subtotal {
          color: $header_hover;
        }
      }

      .icon, .fal {
        display: inline;;
      }

    }

    &:hover {
      .icon {
        &:before {
          color: $header_hover;
        }
      }

      .icon, .fal {
        &:before {
          color: $header_hover;
        }
      }
    }

    &.has-badge {
      .icon {
        //padding-bottom: 5px;

        [dir="rtl"] & {
          padding-right: 0;
        }
      }
    }
  }
}

.header-extra-icon {
  margin: $grid-gutter-width / 6;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.ef5-header-donate {
  @media (max-width: 560px) {
    display: none;
  }
}