.footer-layout-2 {
  background-color: #01071e;
  padding-top: 97px;
  padding-bottom: 92px;

  .footer-inner .row {
    > *:first-child {
      margin-top: 20px;
    }

    > *:last-child {
      margin-bottom: 20px;
    }
  }

  .footer-menu,
  .footer-custtom-html {
    list-style: none;
    font-weight: bold;
    font-size: $BodyFontSizeS;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 13px;

      p {
        margin-top: 20px;
      }
    }
  }

  .custom-html {
    margin-bottom: 16px;
  }

  .footer-menu {
    margin: 32px auto 16px auto;

    li {
      margin-right: 38px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: $BodyFontSizeM;
        text-transform: uppercase;
      }

      .sub-menu {
        display: none;
      }

      &.current-menu-item {
        a {
          color: $footer_active;
        }
      }
    }
  }

  .footer-newletter {
    .custtom-newletter {
      padding: 10px 0 25px 0;
      max-width: 770px;
      margin: auto;

      form {
        display: flex;

        input {
          min-height: 71px;
          border: none;
          border-radius: 0;
          padding: 7px 20px;
        }

        input[type="email"] {
          margin-right: 5px;
          background-color: rgba(255, 255, 255, 0.03);
          flex: 3.5;
          color: inherit;
        }

        input[type="submit"] {
          margin-left: 5px;
          flex: 1;
          font-weight: bold;
        }
      }
    }
  }

  .social-items {
    justify-content: center;
    margin: 25px auto 12px auto;
    @include social-items();

    a {
      min-height: 50px;
      margin: 0 5px;

      &:hover {
        color: $white;
      }
    }
  }

  .copyright {
    text-align: center;
    margin-top: 12px;
    font-size: $BodyFontSizeL;

    a {
      color: $primary_color;
    }
  }

  @media (max-width: $screen-lg-max) {
    padding-top: 67px;
    padding-bottom: 62px;
    .footer-newletter .custtom-newletter form {
      input[type="submit"], input[type="email"] {
        font-size: $BodyFontSizeXXS;
      }

      input {
        min-height: 60px;
      }
    }
  }
  @media (max-width: $screen-md-max) {
    .footer-menu,
    .footer-custtom-html {
      li {
        margin: 0 10px;
      }
    }
  }
  @media (max-width: $screen-md-min) {
    .footer-inner .row {
      > *:first-child {
        // margin-top: 0;
      }

      > *:last-child {
        //margin-bottom: 0;
      }
    }
    .footer-custtom-html {
      font-size: $BodyFontSizeXXS;

      li {
        p {
          margin-top: 15px;
        }
      }
    }
    .footer-menu {
      margin: 14px auto 8px auto;

      li a {
        font-size: $BodyFontSizeXS;
      }
    }
    .footer-newletter {
      .custtom-newletter {
        form {
          input {
            min-height: 55px;
          }
        }
      }
    }
    .copyright {
      font-size: $BodyFontSize;
    }
  }
}