.social-menu-items {
  padding-top: 10px;

  &:empty {
    padding-top: 0;
  }

   a.header-icon {
    border-color: $primary_color;
    border: 2px solid;
    @include border-radius(50%);
    width: 40px;
    height: 40px;
    position: relative;
    text-align: left;
    margin-right: 5px;
    color: $primary_color;

    &:last-child {
      margin-right: 0;
    }

    [dir="rtl"] & {
      &:last-child {
        margin-left: 0;
      }
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      color: $white;
      border-color: $white;
    }
  }

  div.custom-text {
    margin-left: 30px;
    color: inherit;

    [dir="rtl"] & {
      margin-left: 0px;
      margin-right: 30px;
    }

    a {
      color: $header_regular;

      &:hover {
        color: $header_hover;
      }
    }
  }
}

@media (max-width: $screen-md-max) {
  .social-menu-items {
    display: none !important;
  }
}